<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${activity.title}">奇思教育-活动中心</title>
    <meta name="description" id="description" th:content="${activity.guide}"/>
    <script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js" language="JavaScript"></script>    <!-- 微信js -->
    <link type="text/css" rel="stylesheet" href="/weixin/activity-show.css"/>
    <script type="text/javascript" src="/weixin/weixin-share.js"></script>
</head>

<body>
    <div th:fragment="content" th:remove="tag">
        <div>
            <div class="header">
                <h3 class="title" th:text="${activity.title}"></h3>
                <p class="icon">
                    <span class="fa fa-eye" th:text="|  ${activity.readCount}|"></span>
                    <span class="fa fa-heart" th:text="|  ${activity.goodCount}|"></span>
                    <span class="fa fa-commenting-o" th:text="|  ${activity.commentCount}|"></span>
                    &nbsp;|&nbsp;<span th:text="${activity.createDate}"></span>
                </p>
            </div>
            <input th:value="${activity.imgUrl}" type="hidden" class="imgUrl"/>
            <div class="guide" th:text="${activity.guide}"></div>
            <div class="content" th:utext="${activity.content}"></div>

            <div class="weui-tab">
                <div class="weui-navbar">
                    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                        开展记录<span class="weui-badge" style="margin-left: 5px;" th:text="${#lists.size(recordList)}">8</span>
                    </a>
                    <a class="weui-navbar__item" href="#tab2">
                        评论信息<span class="weui-badge" style="margin-left: 5px;" th:text="${#lists.size(commentList)}">8</span>
                    </a>
                </div>
                <div class="weui-tab__bd">
                    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                        <div class="single-record weui-flex" th:each="record: ${recordList}">
                            <div class="weui-flex__item">
                                <p class="holdTime" th:text="${record.holdTime}"></p>
                                <p class="address" th:text="${record.address}"></p>
                            </div>
                            <div>
                                <a th:if="${record.status eq '1'}" th:href="@{/wx/activityRecord/signUp(recordId=${record.id})}" class="weui-btn weui-btn_mini weui-btn_primary">报名</a>
                                <span th:unless="${record.status eq '1'}" class="">不可报名</span>
                            </div>
                        </div>


                    </div>
                    <div id="tab2" class="weui-tab__bd-item">

                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__bd">
                                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" th:each="comment: ${commentList}">
                                    <div class="weui-media-box__hd">
                                        <img class="weui-media-box__thumb" th:src="${comment.avatarUrl}" alt=""/>
                                    </div>
                                    <div class="weui-media-box__bd">
                                        <h4 class="weui-media-box__title">
                                            <span th:remove="tag" th:text="${comment.nickname}"></span>
                                            <span class="weui-media-box__title-after" th:text="${comment.createTime}">下午8:12</span>
                                        </h4>
                                        <p class="weui-media-box__desc" th:text="${comment.content}">小李明天早上帮我带两个包子，一个猪肉粉丝和一个奶黄包</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>