
.activity-header {
    font-size: 14px; border-left: 3px #2cabcf solid; line-height: 25px; padding-left: 12px; margin: 15px 0px 15px 12px;
}
hr {
    margin:0px;
}

.single-activity {
    border:1px #E8E8E8 solid; border-radius: 2px; margin: 25px 15px;
    box-shadow: 0px 0px 10px #E8E8E8;
}
.single-activity .header {
    color:#333; border-bottom: 1px #E8E8E8 solid; padding: 12px 10px;
}
.single-activity .header a {
    color:#333;
}
.single-activity .content {
    margin: 3px 5px;
}

.single-activity .content .guide {
    color:#999; max-height:85px; overflow: hidden; line-height: 28px; text-indent: 2em; margin-top: 8px; width:100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.single-activity .content .icon {
    color:#aaa;
}
.single-activity .content .icon span {
    padding-left: 5px; font-size:12px;
}

.single-activity .content img {
    width: 100%;
}