.main-header {
    background:#f58d15; border-bottom: 5px #ffa61e solid; height:55px; line-height: 55px; padding:0; text-align:center; color:#FFF; font-size: 24px;
}
.main-header img {
    width: 36px; height: 36px; margin-right: 5px;
}

.main-bottom {
    width:100%; line-height: 40px; background: #ececec; color:#9c9c9c; text-align: center; margin-bottom: 10px;margin-top: 10px; float:left;
}

.red {
    color:#F00;
}
.blue {
    color:#00F;
}