.single-category-div {
    width:45%; float:left; margin: 10px 0px 10px 3.3%;
}

.single-category-div .img-p img {
    width:100%; border-radius: 5px; height: 90px;
}

.single-category-div .name-p span {
    color:#000; width:100%; text-align:center; float:left; line-height: 28px;
}


.video-header-div {
    width: 100%;
}
.video-header-div img {
    width: 100%; height: 70%;
}
.cate-remark {
    color:#aaa; font-size: 12px;
}
.single-content-div {

}
.single-content-div a {
    color:#000; text-decoration: none; line-height: 2.8rem; float:left; width: 91%; margin-left: 5%;
    border-bottom: 1px #eaeaea solid;
    white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;
}

.check-images img {
    width: 100%;
}