<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>测试</title>
</head>

<body>
    <div th:fragment="content" th:remove="tag">
        <div>
            <h2>返回结果：</h2>
            <hr/>
            <p th:text="${res}">失败</p>
        </div>
    </div>
</body>
</html>