<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>奇思教育-活动影集</title>
    <link type="text/css" rel="stylesheet" href="/weixin/activity-image.css"/>
    <script type="text/javascript" src="/weixin/mobile/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/weixin/activity-image.js"></script>
</head>

<body>
    <div th:fragment="content" th:remove="tag">
        <div>
            <div class="image-header-div">
                <a href="/weixin/recordImage" th:class="${current==1?'current':''}">活动影集</a>
                <a href="/weixin/recordImage/listRecord" th:class="${current==2?'current':''}">活动记录</a>
            </div>
            <div id="image-mask-div" data-role="page">
                <div class="image-mask-img"><img src="/publicFile/upload/20200308/d0876838-a936-4491-837d-506a1a022dc0.jpg"/></div>
                <div class="image-mask-operate">
                    <div class="pre-btn"></div>
                    <div class="ope-content">
                        <div class="title">这里是标题</div>
                        <div class="date">2020-3-9</div>
                    </div>
                    <div class="next-btn"></div>
                </div>
            </div>
            <div class="image-content-main-div">
                <div class="image-content-main">
                    <div class="image-content-left">
                        <div th:each="obj,objStat : ${data2}" th:remove="tag">
                            <div class="single-activity-image">
                                <img th:src="${obj.imgUrl}" th:attr="imgCount='index_left_'+${objStat.count}, title=${obj.title}, holdTime=${obj.recordHoldTime}, recordId=${obj.recordId}"/>
                                <!--<a th:href="'/weixin/recordImage?recordId='+${obj.recordId}"><p th:text="${obj.title}"></p></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="image-content-right">
                        <div th:each="obj,objStat : ${data1}" th:remove="tag">
                            <div class="single-activity-image">
                                <img th:src="${obj.imgUrl}" th:attr="imgCount='index_right_'+${objStat.count}, title=${obj.title}, holdTime=${obj.recordHoldTime}, recordId=${obj.recordId}"/>
                                <!--<a th:href="'/weixin/recordImage?recordId='+${obj.recordId}"><p th:text="${obj.title}"></p></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div th:include="fragments/page-wx :: pager" style="margin:10px 10px 10px 0px;float:right;"></div>
            </div>
        </div>
    </div>
</body>
</html>